@media screen and (max-width: 480px) {
  .content {
    width: 90%;
  }
  #menumobile {
    display: block;
    background: url(../images/icon-menu.svg) no-repeat center top;
    height: 30px;
    width: 40px;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 45px;
  }
  header .menu {
    background: #0e4144;
    width: 80%;
    position: absolute;
    left: -20px;
    top: 52px;
    height: auto;
    z-index: 10000;
    padding: 10vh 0 4vh 5vw;
    margin-top: 0px;
    display: none;
  }
  header .menu li {
    display: block;
    margin-bottom: 20px;
    border-bottom: 0px;
  }
  header .menu li a {
    color: #fff;
    font-size: 5vw;
  }
  header .menu li a:hover {
    color: #ddf0f7;
  }
  header .menu li .submenuprod {
    position: relative;
    display: block;
    background: none;
    top: 10px;
    box-shadow: none;
  }
  header .openmenu {
    display: inline-block;
  }
  header .icons .btn {
    display: none;
  }
  footer .col {
    width: 100%;
    margin-bottom: 30px;
  }
  .searchbar form button {
    display: none;
  }
  .slider h1 {
    width: 100%;
    font-size: 7vw;
    line-height: 10vw;
  }
  .abouthome .topblue {
    padding: 30px 0px 50px 0px !important;
  }
  .abouthome .topblue h2 {
    width: 100%;
    float: none;
  }
  .abouthome img {
    float: none;
    margin-top: -40px;
    margin-right: 0px;
    width: 100%;
  }
  .abouthome .text {
    margin-top: 20px;
    padding: 0px 20px;
  }
  .bestproducts .homeproductlist {
    display: block;
  }
  .covidbanner {
    margin-bottom: 60px;
  }
  .covidbanner img {
    float: none;
    margin: 0px auto;
    width: 80%;
  }
  .testmonials {
    margin: 50px 0px 80px 0px;
  }
  .testmonials .text {
    width: 100%;
    float: none;
  }
  .testmonials .tesmonial {
    width: 70%;
    float: none;
    margin: 30px auto;
  }
  .categorylist {
    width: 90%;
    margin: 0px auto;
    display: block;
    float: none;
  }
  .categorylist .quant {
    display: none;
  }
  .categorylist .list {
    width: 100%;
  }
  .productlist {
    width: 90%;
    margin: 0px auto;
    display: block;
    float: none;
    overflow-x: scroll;
  }
  .productlist .proposallistbasic,
  .productlist .singleprpduct {
    display: none;
  }
  .productlist .listtop p {
    float: none;
  }
  .productlist .listtop select {
    float: none;
    margin: 10px auto;
  }
  .productlist .orderperpage {
    display: block;
    float: none;
    margin: 20px auto;
    text-align: center;
  }
  .productlist .nav {
    margin-bottom: 60px;
  }
  .prodlist .proditem {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .prodlist .proditem span.mobtitle {
    display: block;
    font-weight: bold;
  }
  .innerprodlist .proditem .toprow {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .innerprodlist .proditem .toprow p i {
    position: absolute;
    top: 0px;
    right: 30px;
  }
  .innerprodlist .proditem .toprow span.mobtitle {
    display: block;
    font-weight: bold;
    color: #0e4144;
  }
  .innerprodlist .proditem .middlerow .text {
    float: none;
    width: 80%;
  }
  .innerprodlist .proditem .middlerow a {
    float: none;
    margin-top: 10px;
  }
  .cartlist {
    width: 100%;
    float: none;
  }
  .cartlist .productbox {
    display: block;
    padding: 20px 20px 20px 20px;
  }
  .cartlist .productbox .toprow {
    display: none;
  }
  .cartlist .productbox .middlerow {
    display: block;
  }
  .cartlist .productbox .middlerow .formquant {
    text-align: left;
    margin: 20px 0px 30px 0px;
  }
  .sellerorderinfo {
    width: 85%;
    float: none;
  }
  .cartbar,
  .payment {
    width: 100%;
    float: none;
  }
  .payment .method {
    display: block;
  }
  .payment .method p {
    width: 80%;
    margin-bottom: 20px;
  }
  .clearmobile {
    clear: both;
  }
  .filters {
    width: 80%;
  }
  .orderinfo {
    width: 80%;
    float: none;
  }
  .innerheader h1 {
    max-width: 100%;
    font-size: 7vw;
    line-height: 10vw;
  }
  .topcontent img {
    width: 100%;
    float: none;
    margin-top: -50px;
    margin-bottom: 30px;
  }
  .topcontent .text {
    float: none;
    width: 100%;
  }
  .vantagens .vantagenslist {
    display: block;
  }
  .vantagens .vantagenslist .vantagem {
    width: 80%;
    margin: 0px auto 80px auto;
    padding: 20px;
  }
  .vantagens .vantagenslist .fa-long-arrow-alt-right {
    display: none;
  }
  .popup {
    width: 70%;
  }
  .accounttabs {
    display: block;
  }
  .accounttabs .tab {
    width: 100%;
    margin-bottom: 30px;
  }
  .accounttabs .tab .buttonslinks .btn {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .orderlistbasic {
    overflow-x: scroll;
    display: none;
  }
  .orderlistbasic thead tr {
    grid-gap: 20px 35px;
  }
  .orderrowlist .orderdetails {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
  }
  .orderrowlist .orderdetails p i.openorder {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .orderrowlist .orderdetails span.mobtitle {
    display: block;
    font-weight: bold;
    color: #0e4144;
  }
  .orderrowlist .plusorder {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 20px;
    width: 90%;
  }
  .loginform {
    width: 80%;
    float: none;
    margin: 0px auto;
  }
  .doubtform {
    padding: 30px 0px;
  }
  .selleraccounttabs .tab {
    width: 100% !important;
  }
  .sellerorderlist,
  .variationpricelist,
  .grouplistfilter,
  .exclusionlistfilter {
    display: none;
  }
  .orderlist .sellerorders .orderdetails {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    display: grid;
  }
  .prices .pricelist .orderitem .orderdetails {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    display: grid;
  }
  .accounttabs .tab form .estateselectlabel {
    width: 100%;
  }
  .groups .btn,
  .exclusionlist .btn {
    margin: 0px auto;
    float: none;
    display: block;
  }
}
