@media screen and (max-width: 480px){

    @black: #0e4144;
    @white: #fff;
    @blue: #20ced8;
    @lightblue: #ddf0f7;
    @darkgreen: #0e4144;
    @green: #176c71;

    .content{
        width: 90%;
    }

    #menumobile{
		display: block;
	    background: url(../images/icon-menu.svg) no-repeat center top;
	    height: 30px;
	    width: 40px;
	    overflow: hidden;
	    background-size: cover;
        position: absolute;
        right: 20px;
        top: 45px;
    }

    header{
        .menu{
            display: none;
            background: @black;
            width: 80%;
            position: absolute;
            left: -20px;
            top: 52px;
            height: auto;
            z-index: 10000;
            padding: 10vh 0 4vh 5vw;
            margin-top: 0px;
            display: none;
            li{
                display: block;
                margin-bottom: 20px;
                border-bottom: 0px;
                a{
                    color: @white;
                    font-size: 5vw;
                    &:hover{
                        color: @lightblue;
                    }
                }
                .submenuprod{
                    position: relative;
                    display: block;
                    background: none;
                    top: 10px;
                    box-shadow: none;
                }
            }
        }
        .openmenu{
            display: inline-block;
        }
        .icons{
            .btn{
                display: none;
            }
        }
    }

    footer{
        .col{
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .searchbar form button{ display: none }

    //

    .slider{
        h1{
            width: 100%;
            font-size: 7vw;
            line-height: 10vw;
        }
    }

    .abouthome{
        .topblue{
            padding: 30px 0px 50px 0px !important;
            h2{
                width: 100%;
                float: none;
            }
        }
        img{
            float: none;
            margin-top: -40px;
            margin-right: 0px;
            width: 100%;
        }
        .text{
            margin-top: 20px;
            padding: 0px 20px;
        }
    }

    .bestproducts{
        .homeproductlist{
            display: block;
        }
    }

    .covidbanner{
        margin-bottom: 60px;
        img{
            float: none;
            margin: 0px auto;
            width: 80%;
        }
    }

    .testmonials{
        margin: 50px 0px 80px 0px;
        .text{
            width: 100%;
            float: none;
        }
        .tesmonial{
            width: 70%;
            float: none;
            margin: 30px auto;
        }
    }

    //

    .categorylist{
        width: 90%;
        margin: 0px auto;
        display: block;
        float: none;
        .quant{
            display: none;
        }
        .list{
            width: 100%;
        }
    }

    .productlist{
        width: 90%;
        margin: 0px auto;
        display: block;
        float: none;
        overflow-x: scroll;
        .proposallistbasic,
        .singleprpduct{
            display: none;
        }
        .listtop{
            p{
                float: none;
            }
            select{
                float: none;
                margin: 10px auto;
            }
        }
        .orderperpage{
            display: block;
            float: none;
            margin: 20px auto;
            text-align: center;
        }
        .nav{
            margin-bottom: 60px;
        }
    }

    .prodlist{
        .proditem{
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            span.mobtitle{
                display: block;
                font-weight: bold;
            }
        }
    }

    .innerprodlist{
        .proditem{
            .toprow{
                position: relative;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                p{
                    i{
                        position: absolute;
                        top: 0px;
                        right: 30px;
                    }
                }
                span.mobtitle{
                    display: block;
                    font-weight: bold;
                    color: @black;
                }
            }
            .middlerow{
                .text{
                    float: none;
                    width: 80%;
                }
                a{
                    float: none;
                    margin-top: 10px;
                }
            }
        }
    }

    .cartlist{
        width: 100%;
        float: none;
        .productbox{
            display: block;
            padding: 20px 20px 20px 20px;
            .toprow{
                display: none;
            }
            .middlerow{
                display: block;
                .formquant{
                    text-align: left;
                    margin: 20px 0px 30px 0px;
                }
            }
        }
    }

    .sellerorderinfo{
        width: 85%;
        float: none;
    }

    .cartbar,.payment{
        width: 100%;
        float: none;
    }

    .payment{
        .method{
            display: block;
            p{
                width: 80%;
                margin-bottom: 20px;
            }
        }
    }

    .clearmobile{
        clear: both;
    }

    .filters{
        width: 80%;
    }

    .orderinfo{
        width: 80%;
        float: none;
    }

    //

    .innerheader{
        h1{
            max-width: 100%;
            font-size: 7vw;
            line-height: 10vw;
        }
    }

    .topcontent{
        img{
            width: 100%;
            float: none;
            margin-top: -50px;
            margin-bottom: 30px;
        }
        .text{
            float: none;
            width: 100%;
        }
    }

    .vantagens{
        .vantagenslist{
            display: block;
            .vantagem{
                width: 80%;
                margin: 0px auto 80px auto;
                padding: 20px;
            }
            .fa-long-arrow-alt-right{
                display: none;
            }
        }
    }

    //

    .popup{
        width: 70%;
    }

    .accounttabs{
        display: block;
        .tab{
            width: 100%;
            margin-bottom: 30px;
            .buttonslinks{
                .btn{
                    width: 100%;
                    margin: 0px 0px 20px 0px;
                }
            }
        }
    }

    .orderlistbasic{
        overflow-x: scroll;
        display: none;
        thead{
            tr{
                grid-gap: 20px 35px;
            }
        }
    }

    .orderrowlist{
        //overflow-x: scroll;
        .orderdetails{
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            width: 90%;
            p{
                i.openorder{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
            span.mobtitle{
                display: block;
                font-weight: bold;
                color: @black;
            }
        }
        .plusorder{
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px 20px;
            width: 90%;
        }
    }

    .loginform{
        width: 80%;
        float: none;
        margin: 0px auto;
    }

    .doubtform {
        padding: 30px 0px;
    }

    //

    .selleraccounttabs{
        .tab{
            width: 100% !important;
        }
    }

    .sellerorderlist,
    .variationpricelist,
    .grouplistfilter,
    .exclusionlistfilter{
        display: none;
    }

    .orderlist{
        .sellerorders{
            .orderdetails{
                position: relative;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                width: 90%;
                display: grid;
            }
        }
    }

    .prices .pricelist .orderitem .orderdetails{
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 90%;
        display: grid;
    }

    .accounttabs .tab form .estateselectlabel{
            width: 100%;
    }

    .groups .btn,
    .exclusionlist .btn{
        margin: 0px auto;
        float: none;
        display: block;
    }

}