*{
    margin: 0px;
    padding: 0px;
}

*:focus {outline:0;}

body{
    color: @black;
    font-family: 'Source Sans Pro', sans-serif;
    background: @white;
}

.content{
    width: 1080px;
    margin: 0px auto;
}

.clear{
    clear: both;
}

.spacer{
    height: 100px
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// DEFINIÇÕES

@black: #0e4144;
@white: #fff;
@blue: #20ced8;
@lightblue: #ddf0f7;
@darkgreen: #0e4144;
@green: #176c71;

a{
    text-decoration: none;
    color: @black;
    transition: all ease 0.2s;
}

.btn{
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	display: table;
	text-transform: uppercase;
    font-weight: bold;
	color: @white;
	padding: 5px 20px;
	background: @blue;
	border: 2px solid @blue;
	cursor: pointer;
	margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all ease 0.2s;
	i{
		margin-right: 8px !important;
        margin-left: 0px !important;
        color: @white !important;

	}
    &.red{
        background: red;
        border-color: red;
    }
    &.green{
        border-color: green;
        background: green;
    }
    &.grey{
        background: @lightblue;
        border-color: @lightblue;
    }
}
.btn:hover{
	background: @darkgreen;
	color: @white;
	border-color: @darkgreen;
}
.btn.right{
    float: right;
}
.btn.center{
	margin: 0px auto;
}
.btn.inline{
    display: inline-table;
    margin-right: 10px;
}

.sectitle{
    font-size: 24px;
    text-align: center;
    color: @green;
}

.dev{
    background: #F9F9F9;
    padding: 10px;
    p{
        font-size: 10px;
        text-align: center;
        color: #282828;
        a{
            text-decoration: none;
            color: #282828;
            font-weight: bold;
            span{
                color: #00FF85;
            }
        }
    }
}

//

.preheader{
    background: @lightblue;
    padding: 5px;
    text-align: right;
    p{
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        color: @darkgreen;
        font-weight: bold;
        i{
            color: @blue;
            margin-right: 5px;
        }
    }
}

header{
    background: @white;
    padding: 20px 0px;
    .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    p.logo{
        font-size: 28px;
        font-weight: bold;
        svg{
            width: 140px;
        }
    }
    .menu{
        list-style-type: none;
        margin-top: 8px;
        li{
            display: inline-block;
            margin: 0px 20px;
            position: relative;
            a{
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    color: @blue;
                }
            }
            &.active{
                a{
                    color: @blue;
                }
            }
            .submenuprod{
                position: absolute;
                min-width: 130px;
                left: 0px;
                top: 42px;
                background: @white;
                box-shadow: 0px 3px 6px #0000000D;
                z-index: 100;
                display: none;
                a{
                    display: block;
                    padding: 10px 20px;
                    border-bottom: 1px solid @lightblue;
                    font-size: 14px;
                    &:hover{
                        background: @lightblue;
                        color: @blue;
                    }
                }
            }
        }
    }
    .openmenu{
        display: none;
    }
    .icons{
        margin-top: 8px;
        .btn{
            margin-top: -5px;
            margin-left: 10px;
            float: right;
        }
        p{
            float: right;
            font-size: 12px;
            font-weight: bold;
            margin-top: 3px;
            margin-left: 10px;
            cursor: pointer;
            i{
                margin: 0px 0px 0px 5px;
            }
        }
        i{
            font-size: 14px;
            color: @green;
            margin: 0px 10px;
            transition: all ease 0.2s;
            cursor: pointer;
            &:hover{
                color: @blue;
            }
        }
    }
    .submenu{
        position: absolute;
        right: 0px;
        top: 50px;
        background: @white;
        box-shadow: 0px 3px 6px #0000000D;
        z-index: 100;
        display: none;
        a{
            display: block;
            padding: 10px 20px;
            border-bottom: 1px solid @lightblue;
            font-size: 14px;
            &:hover{
                background: @lightblue;
                color: @blue;
            }
        }
    }
}

footer{
    background: @green;
    padding: 50px 0px;
    .col{
        display: inline-block;
        width: 19%;
        vertical-align: top;
        #armored_website{
            background: @white;
            padding: 10px 20px;
            border-radius: 10px;
            display: block !important;
            margin: 0px auto;
        }
        svg{
            width: 70%;
            path{
                fill: @white;
            }
        }
        ul{
            list-style-type: none;
            li{
                margin-bottom: 10px;
                a{
                    color: @white;
                    font-size: 14px;
                }
            }
        }
        p{
            color: @white;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .redes{
            list-style-type: none;
            float: right;
            li{
                display: inline-block;
                margin: 0px 10px;
                i{
                    font-size: 18px;
                    &:hover{
                        color: @blue;
                    }
                }
            }
        }
    }
}

//

.searchbar.open{
	display: block;
}

.searchbar{
	background: @blue;
	padding-bottom: 10px;
	display: none;
	transition: all ease 0.2s;
	form{
		text-align: center;
		input[type=text]{
			width: 90%;
			background: none;
			border: none;
			color: @white;
			font-size: 14px;
            padding: 10px 0px 0px 0px;
			&::placeholder {
				color: @white;
				opacity: 0.5;
			}
		}
		button{
			margin: 7px 30px 0px 0px;
			float: right;
			border: none;
			background: none;
			font-size: 16px;
			cursor: pointer;
			i{
				color: @white;
			}
			&:hover{
				i{
					color: @black;
				}
			}
		}
	}
}

.slider{
    background: url('../images/slide-drmarket.png') no-repeat center center;
    padding: 80px 0px;
    h1{
        width: 50%;
        color: @white;
        font-size: 42px;
        line-height: 52px;
    }
}

.abouthome{
    margin-bottom: 80px;
    .topblue{
        background: @blue;
        padding: 70px 0 30px 0;
        h2{
            width: 50%;
            float: right;
            color: @white;
            font-size: 32px;
            line-height: 42px;
        }
    }
    img{
        margin-top: -180px;
        float: left;
        margin-right: 50px;
    }
    .text{
        margin-top: 50px;
        p{
            color: @blue;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.bestproducts{
    .homeproductlist{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item{
            margin-top: 150px;
            background:#DDF0F7;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            img{
                margin-top: -150px;
            }
            .cat{
                font-weight: bold;
                text-transform: uppercase;
                color: @blue;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .name{
                font-size: 16px;
                font-weight: bold;
                color: @green;
                margin-bottom: 20px;
            }
        }
    }
}

.covidbanner{
    background:#DDF0F7;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 30px 0px;
    img{
        float: left;
        margin: -150px 0px -50px 0px;
    }
    p{
        margin-bottom: 10px;
        span{
            font-weight: bold;
            color: @blue;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    p.title{
        color: @green;
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: bold;
    }
}

.testmonials{
    margin: 180px -0px 80px 0px;
    .text{
        width: 40%;
        float: left;
        h3{
            font-size: 42px;
            color: @green;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            color: @green;
        }
    }
    .tesmonial{
        box-shadow: 0px 3px 6px #0000000D;
        float: right;
        width: 50%;
        background: @white;
        padding: 20px 30px;
        border-radius: 10px;
        h4{
            font-size: 22px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
            img{
                float: left;
                margin-right: 20px;
            }
        }
    }
}

//

.innerpage{
    background: #F5FBFD;
}

.breadcrumb{
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
    i{
        color: @blue;
    }
    span{
        margin: 0px 10px;
    }
    a{
        font-weight: normal;
        &:hover{
            color: @blue;
        }
    }
}

.legend{
    p{
        font-size: 12px;
        color: @darkgreen;
        margin-bottom: 15px;
        i{
            font-size: 10px;
            margin-right: 5px;
        }
        span{
            color: @blue;
            font-size: 10px;
        }
    }
}

.filters{
    width: 20%;
    float: left;
}

.sidebar{
    width: 100%;
    background: @white;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    input,select{
        width: 100%;
        border: 1px solid @green;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }
    hr{
        display: block;
        width: 100%;
        margin: 20px 0px;
        border: none;
        background: @darkgreen;
        opacity: 0.2;
        height: 2px;
    }
    .formquant{
        input{
            width: 75%;
            float: left;
        }
        label{
            margin: 10px 5px 0px 0px;
            font-size: 14px;
            float: right;
        }
    }
    .minisectitle{
        font-size: 14px;
        font-weight: bold;
        color: @green;
        margin-bottom: 10px;
        //margin-top: 20px;
    }
    .select{
        display: inline-block;
        border-radius: 40px;
        border: 1px solid @green;
        font-size: 14px;
        margin-right: 5px;
        padding: 7px 12px;
        cursor: pointer;
        transition: all ease 0.2s;
        &.active,
        &:hover{
            background: @lightblue;
        }
    }
    .alpha{
        button{
            border: 2px solid @white;
            padding: 5px 10px;
            border-radius: 20px;
            background: none;
            color: @green;
            font-weight: bold;
            font-size: 16px;
            margin: 5px 2px;
            font-family: 'Source Sans Pro', sans-serif;
            cursor: pointer;
            transition: all ease 0.2s;
            width: 35px;
            &:hover{
                color: @blue;
                border-color: @green;
            }
            &.inactive{
                opacity: 0.4;
                &:hover{
                    cursor: auto;
                    color: @green;
                    border: none;
                }
            }
        }
    }
}

.categorylist{
    width: 70%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    .off{
        opacity: 0.3;
    }
    .quant{
        width: 15%;
        p{
            margin-bottom: 25px;
            font-weight: bold;
            font-size: 14px;
            span{
                font-size: 12px;
            }
        }
    }
    .list{
        width: 85%;
        hr{
            display: block;
            width: 95%;
            margin: 15px 0px;
            border: none;
            background: @darkgreen;
            opacity: 0.2;
            height: 2px;
            float: right;
        }
        p.tit{
            float: left;
            color: @blue;
            font-weight: bold;
            font-size: 24px !important;
        }
        p{
            margin-bottom: 25px;
            font-size: 14px;
            span{
                font-size: 12px;
            }
            a{
                &:hover{
                    color: @blue;
                }
            }
        }
    }
}

.fullprodlist{
    width: 100% !important;
    float: none !important;
}

.productlist{
    width: 70%;
    float: right;
    .listtop{
        border-bottom: 2px solid @lightblue;
        padding: 20px 10px;
        p{
            font-size: 12px;
            font-weight: normal;
            margin-top: 10px;
            float: left;
        }
        .formquant{
            margin-top: 10px;
            float: left;
            input[type=number]{
                width: auto;
                height: 30px;
                border: 1px solid @green;
                padding: 5px;
                border-radius: 5px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
        select{
            float: right;
            width: auto;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .proposallistbasic{
        margin-top: 30px;
    }
    .orderperpage{
        margin: 20px 0px;
        float: right;
        label{
            font-size: 12px;
        }
        select{
            width: auto;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    .nav{
        text-align: center;
        margin-top: 30px;
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                margin: 0px 5px;
                font-weight: bold;
                cursor: pointer;
                padding: 5px;
                border-radius: 2px;
                transition: all ease 0.2s;
                &.active{
                    background: @blue;
                    color: @white;
                }
                &:hover{
                    color: @white;
                    background: @blue;
                }
            }
        }
    }
}

.prodlist{
    .pricevariation{
        display: flex !important;
        flex-wrap: wrap !important;
        font-size: 12px !important;
        justify-content: space-between !important;
        padding: 20px !important;
    }
}

.pricevariationlist{
    margin-top: 20px;
    thead{
        tr{
            grid-template-columns: 145px 345px 113px 102px 124px 75px !important;
            grid-gap: 0px 30px;
        }
    }
}

.pricevariationtable{
    grid-template-columns: 145px 350px 113px 102px 124px 75px !important;
}

.proposallistbasic{
    thead{
        tr{
            grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr !important;
            grid-gap: 0px 30px;
        }
    }
}

.variationpricelist{
    margin-top: 30px;
    thead{
        tr{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr !important;
            grid-gap: 0px 30px;
        }
    }
}

.varpricelist{
    .orderitem{
        .orderdetails{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr !important;
        }
    }
}

.basictable{
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 10px 15px;
    thead{
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        tr{
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
            padding-left: 10px;
        }
    }
    tbody:before {
        line-height:2em;
        content:"\200C";
        display:block;
    }
    tbody{
        font-size: 11px;
        text-align: left;
        tr{
            background: @white;
            td:first-child{
                padding: 20px 0px 20px 15px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            td:last-child{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            td{
                padding: 20px 10px 20px 0px;
                span{
                    font-weight: bold;
                    color: @blue;
                    font-size: 12px;
                }
            }
        }
        tr.inactive{
            opacity: 0.4;
        }
    }
}


span.mobtitle{
    display: none !important;
}

.prodlist{
    margin-top: 30px;
    .proditem{
        margin-bottom: 10px;
        background: @white;
        border-radius: 10px;
        width: 100%;
        padding: 20px 10px 20px 10px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1.3fr 1.5fr;
        font-size: 12px;
        grid-gap: 0px 30px;
        p.indisponivel{
            color: red;
        }
        span{
            text-decoration: none;
            font-size: 10px;
        }
        a{
            &:hover{
                color: @blue;
            }
        }
        i{
            color: @blue;
            margin-right: 5px;
        }
        &.inactive{
            opacity: 0.4;
        }
    }
}

.singleprpduct{
    margin-top: 20px;
}

.innerprodlist{
    margin-top: 30px;
    .proditem{
        margin-bottom: 10px;
        background: @white;
        border-radius: 10px;
        width: 100%;
        padding: 20px 10px 20px 10px;
        &.inactive{
            opacity: 0.4;
        }
        .toprow{
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
            font-size: 12px;
            p{
                span{
                    color: @blue;
                    font-size: 10px;
                    display: block;
                }
                i{
                    cursor: pointer;
                    &:hover{
                        color: @blue;
                    }
                    &.active{
                        transform: rotate(180deg);
                        margin-top: 4px;
                        transition: all ease 0.2s;
                    }
                }
            }
        }
        .middlerow{
            display: none;
            hr{
                display: block;
                width: 100%;
                margin: 20px 0px;
                border: none;
                background: @darkgreen;
                opacity: 0.2;
                height: 2px;
            }
            .text{
                float: left;
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                    padding: 0px 10px;
                }
                ul{
                    list-style-type: none;
                    padding: 0px 10px;
                    li{
                        font-size: 12px;
                        display: inline-block;
                        margin-right: 15px;
                        i{
                            margin-right: 5px;
                        }
                    }
                }
            }
            a{
                margin-top: 0px;
                float: right;
            }
            .formquant{
                float: right;
                width: 25%;
                text-align: center;
                margin-bottom: 10px;
                span{
                    display: block;
                    font-size: 12px;
                    margin: 5px 0px;
                }
                input,select{
                    border: 1px solid @darkgreen;
                    padding: 0px 5px;
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                }
            }
        }
        .bottomrow{
            display: none;
            text-align: right;
            p{
                font-weight: bold;
                font-size: 16px;
                display: inline-block;
            }
            .btn{
                margin-left: 20px;
                margin-top: 0px;
                display: inline-block;
            }
            hr{
                display: block;
                width: 100%;
                margin: 20px 0px;
                border: none;
                background: @darkgreen;
                opacity: 0.2;
                height: 2px;
            }
        }
    }
}

// CART

.cartbar{
    width: 32%;
    float: right;
    .address,
    .total,
    .search{
        background: @white;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #0000000D;
        padding: 20px;
        margin: 20px 0px;
        a.btn{
            width: 86%;
        }
        h2{
            font-size: 20px;
            margin-bottom: 20px;
            i{
                margin-right: 10px;
            }
        }
        p{
            font-size: 14px;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            button{
                margin-top: 0px;
            }
            input,button{
                //display: inline-block;
                width: 47%;
            }
            input.full{
                width: 100%;
            }
            input{
                height: 30px;
                padding: 5px;
                border: 1px solid @green;
                border-radius: 5px;
            }
        }
    }
    .sellertotal{
        background: @white;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #0000000D;
        padding: 20px;
        margin: 20px 0px;
        h2{
            font-size: 14px;
            margin-bottom: 20px;
            i{
                margin-right: 10px;
            }
        }
        .value{
            margin: 10px 0px 20px 0px;
            padding: 0px 0px 10px 0px;
            border-bottom: 2px solid @lightblue;
            
            h3{
                font-size: 16px;
                margin-bottom: 10px;
            }
            p{
                width: 100%;
                margin-bottom: 10px;
                span{
                    float: right;
                    font-weight: bold;
                    &.red{
                        color: red;
                    }
                }
            }
        }
    }
}

.cartlist{
    width: 65%;
    float: left;
    .sectitle{
        width: 60%;
        margin: 50px auto;
    }
    .empty{
        i{
            font-size: 64px;
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .sellerresume{
        margin-bottom: 50px;
        h2.active{
            span{
                i{
                    transform: rotate(180deg);
                }
            }
        }
        h2{
            font-size: 24px;
            margin-bottom: 15px;
            cursor: pointer;
            span{
                background: #F5FBFD;
                padding: 5px 15px 5px 0px;
                i{
                    margin-right: 10px;
                }
            }
            &:after{
                content: '';
                display: block;
                height: 3px;
                background: @lightblue;
                width: 100%;
                margin-top: -15px;
            }
        }
        p{
            font-size: 14px;
        }
        .deleteall{
            float: right;
            font-size: 12px;
            color: red;
            background: #F5FBFD;
            padding: 9px 20px;
            &:hover{
                color: @black
            }
        }
    }
    .productbox{
        background: @white;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #0000000D;
        padding: 20px 20px 10px 20px;
        margin: 20px 0px;
        .toprow{
            display: grid;
            margin-bottom: 20px;
            grid-template-columns: 1.2fr 1.3fr 0.9fr;
            font-size: 14px;
            font-weight: bold;
            padding: 0px 10px 10px 10px;
            border-bottom: 2px solid @lightblue;
            p.center{
                text-align: center;
            }
        }
        .middlerow{
            display: grid;
            grid-template-columns: 1.3fr 1.4fr 1fr;
            font-size: 14px;
            padding: 0px 10px 0px 10px;
            p{
                margin-bottom: 10px;
                a{
                    font-weight: bold;
                    &:hover{
                        color: @blue;
                    }
                }
                .center{
                    text-align: center;
                }
            }
            .code{
                font-size: 10px;
            }
            .formquant{
                //text-align: center;
                margin-bottom: 10px;
                span{
                    display: block;
                    font-size: 12px;
                    margin: 5px 0px;
                }
                input,select{
                    border: 1px solid @darkgreen;
                    padding: 0px 5px;
                    width: 40%;
                    height: 30px;
                    border-radius: 5px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
            .trash{
                color: red;
                font-size: 12px;
                i{
                    margin-right: 5px;
                }
                &:hover{
                    color: @green;
                }
            }
            p.price{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
                strong{
                    font-weight: normal;
                    font-size: 14px;
                    margin-top: 10px;
                    
                    display: block;
                }
            }
        }
        .bottomrow{
            padding: 20px 0px 0px 10px;
            
        }
    }
}

.payment{
    width: 65%;
    float: left;
    margin-bottom: 80px;
    .method{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p{
            width: 40%;
            cursor: pointer;
            background: @white;
            border-radius: 10px;
            box-shadow: 0px 3px 6px #0000000D;
            padding: 30px;
            text-align: center;
            i{
                display: block;
                font-size: 32px;
                margin-bottom: 10px;
            }
            &:hover{
                color: @blue;
            }
        }
    }
    .cardform,
    .paperform{
        display: none;
        margin-top: 50px;
        h4{
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
        }
        img{
            margin-top: 10px;
        }
        form{
            background: @lightblue;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            input{
                width: 48%;
                height: 30px;
                border: 1px solid @green;
                padding: 5px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

//

.loginform{
    background: @lightblue;
    border-radius: 10px;
    padding: 30px;
    width: 40%;
    form{
        margin-bottom: 20px;
        input[type=checkbox]{
            width: 15px;
            height: 15px;
            float: left;
            margin-right: 5px;
        }
        label{
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }
        input[type=email],
        input[type=text],
        textarea{
            width: 100%;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        textarea{
            height: 150px;
        }
        a{
            font-size: 12px;
            margin-top: 10px;
            text-decoration: underline;
            &:hover{
                color: @blue;
            }
        }
        .smallfields{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                width: 48%;
            }
        }
        .infobox{
            p{
                margin-bottom: 20px;
            }
        }
    }
    hr{
        display: block;
        width: 100%;
        margin: 20px 0px;
        border: none;
        background: @darkgreen;
        opacity: 0.2;
        height: 2px;
    }
    p{
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        a{
            font-weight: bold;
            &:hover{
                color: @blue;
            }
        }
    }
}

//

.innerheader{
    background: @blue;
    padding: 40px 0px;
    margin-bottom: 30px;
    h1{
        color: @white;
        font-size: 36px;
        max-width: 45%;
    }
}

.topcontent{
    margin-bottom: 80px;
    img{
        width: 50%;
        float: right;
        margin-top: -100px;
    }
    .text{
        width: 45%;
        float: left;
        h2{
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 10px;
            a{
                text-decoration: underline;
                font-weight: bold;
                &:hover{
                    color: @blue;
                }
            }
        }
    }
}

.maincontent{
    margin-bottom: 50px;
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
        a{
            text-decoration: underline;
            font-weight: bold;
            &:hover{
                color: @blue;
            }
        }
    }
}

.bulletlist{
    list-style-type: none;
    margin: 40px 0px;
    li{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid @lightblue;
        p{
            font-size: 14px;
            padding-left: 70px;
        }
        &:before {
            //margin: 20px 0px 40px 0px;
            float: left;
            font-family: 'FontAwesome';
            content: "\f35a";
            color: @green;
            font-size: 32px;
        }
    }
}

.vantagens{
    margin-bottom: 80px;
    .vantagenslist{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 120px;
        i{
            color: @blue;
            margin-top: 70px;
        }
        .vantagem{
            width: 15%;
            background: #DDF0F7;
            border-radius: 10px;
            text-align: center;
            padding: 0px 10px 20px 10px;
            img{
                margin: -50px auto 30px auto;
                display: block;
            }
            p{
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}

.faq{
    background: @lightblue;
    padding: 50px 0px;
    .questionbox{
        h3{
            background: @white;
            padding: 20px;
        }
        h3:before{
            content: '›'; 
            font-size: 32px;
            color: @green;
            float: right;
            margin-left: 0px;
            transform: rotate(90deg);
            margin-top: -10px;
            transition: all ease 0.2s;
        }
        h3.active:after {
            transform: rotate(-90deg);
        }
        .faqanswer{
            background-color: @green;
            color: @white;
            height: 0;
            overflow: hidden;
            transition: 0.4s ease-in-out;
            opacity: 0;
            margin-bottom:10px;
            margin-top: 0px !important;
            p{
                margin-bottom: 10px;
            }
        }
        .faqanswer.show {
            opacity: 1;
            padding: 30px 18px;
            height: auto;
        }
    }
}

.doubtform{
    padding: 20px 0px 80px 0px;
    .questionform{
        background: @lightblue;
        border-radius: 10px;
        padding: 30px;
        width: 80%;
        margin: 40px auto;
        form{
            margin-bottom: 20px;
            input[type=checkbox],
            input[type=radio]{
                width: 15px;
                height: 15px;
                float: left;
                margin-right: 5px;
            }
            label{
                display: block;
                margin-bottom: 10px;
                font-size: 12px;
            }
            input[type=email],
            input[type=text],
            textarea,
            select{
                font-family: 'Source Sans Pro', sans-serif;
                width: 100%;
                height: 30px;
                border: 1px solid @green;
                padding: 5px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            textarea{
                height: 100px;
            }
            a{
                font-size: 12px;
                margin-top: 10px;
                text-decoration: underline;
                &:hover{
                    color: @blue;
                }
            }
            .smallfields{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                input{
                    width: 48%;
                }
            }
            .infobox{
                p{
                    margin-bottom: 20px;
                }
            }
        }
        hr{
            display: block;
            width: 100%;
            margin: 20px 0px;
            border: none;
            background: @darkgreen;
            opacity: 0.2;
            height: 2px;
        }
        p{
            text-align: center;
            font-size: 14px;
            a{
                font-weight: bold;
                &:hover{
                    color: @blue;
                }
            }
        }
    }
}

// MY ACCOUNT

.fulltab{
    .tab{
        width: 100% !important;
        margin-bottom: 30px;
    }
}

.threetabs{
    margin-bottom: 30px !important;
    .tab{
        width: 32% !important;
    }
}

.accounttabs{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .tab.inactive{
        opacity: 0.3;
    }
    .tab{
        width: 48%;
        background: @white;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #0000000D;
        .tabheader{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 20px 30px;
            background: @lightblue;
            margin-bottom: 20px;
            position: relative;
            h3{
                font-size: 14px;
                font-weight: normal;
                i{
                    margin-right: 10px;
                }
            }
            .plus{
                border-top-right-radius: 10px;
                background: @white;
                float: right;
                padding: 24px;
                position: absolute;
                right: 0px;
                top: 0px;
                &:hover{
                    color: @blue;
                }
            }
        }
        form{
            padding: 20px 30px;
            label{
                display: block;
            }
            input,select{
                padding: 5px;
                margin: 10px 0px 20px 0px;
                width: 100%;
                border: none;
                border-bottom: 1px solid @lightblue;
            }
            input[type=checkbox]{
                width: auto;
                //float: left;
                margin: 0px 10px 0px 0px;
            }
            .estateselectlabel{
                border: 1px solid @lightblue;
                border-radius: 5px;
                margin-bottom: 10px;
                font-weight: bold;
                padding: 15px 10px;
                width: 29%;
            }
            .smallfields{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                div{
                    width: 45%;
                }
            }
        }
        .editestatedelivery{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .address{
            padding: 20px 30px;
            border-bottom: 1px solid @lightblue;
            p{
                font-size: 14px;
                margin-bottom: 10px;
                i{
                    margin-right: 10px;
                }
            }
            a{
                font-size: 12px;
                color: @blue;
                margin-right: 20px;
                &:hover{
                    color: @darkgreen;
                }
            }
            label{
                font-size: 12px;
                margin: 0px 20px 0px 5px;
            }
            hr{
                display: block;
                width: 100%;
                margin: 20px 0px;
                border: none;
                background: @darkgreen;
                opacity: 0.2;
                height: 2px;
            }
            .delete{
                color: red;
            }
        }
        .buttonslinks{
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .btn{
                width: 27%;
                margin: 10px;
            }
        }
    }
}

.shadowpop{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
	opacity: 1;
	transition: all ease 0.6s;
    display: none;
}

.popup{
    display: none;
    position: fixed;
	z-index: 150;
	left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
    background: @lightblue;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    .openpopup{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        &:hover{
            color: @blue;
        }
    }
    form{
        margin-bottom: 20px;
        input[type=checkbox],
        input[type=radio]{
            width: 15px;
            height: 15px;
            float: left;
            margin-right: 5px;
        }
        label{
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }
        input[type=email],
        input[type=text],
        select{
            width: 100%;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        a{
            font-size: 12px;
            margin-top: 10px;
            text-decoration: underline;
            &:hover{
                color: @blue;
            }
        }
        .smallfields{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                width: 48%;
            }
        }
        .infobox{
            p{
                margin-bottom: 20px;
            }
        }
    }
    hr{
        display: block;
        width: 100%;
        margin: 20px 0px;
        border: none;
        background: @darkgreen;
        opacity: 0.2;
        height: 2px;
    }
    p{
        text-align: center;
        font-size: 14px;
        a{
            font-weight: bold;
            &:hover{
                color: @blue;
            }
        }
    }
}

// ORDER

.alert{
    background-color: lightyellow;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.orderinfo{
    margin-top: 20px;
    width: 60%;
    float: left;
    background: @white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0000000D;
    padding: 20px 30px;
    margin-bottom: 50px;
    h1{
        margin-bottom: 10px;
    }
    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    hr{
        display: block;
        width: 100%;
        margin: 20px 0px;
        border: none;
        background: @darkgreen;
        opacity: 0.2;
        height: 2px;
    }
}

.orderrowlist{
    margin-top: 30px;
    .orderitem{
        margin-bottom: 10px;
    }
    .orderdetails{
        margin-bottom: 0px;
        background: @white;
        border-radius: 10px;
        width: 100%;
        padding: 20px 10px 20px 20px;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.2fr;
        font-size: 12px;
        p.indisponivel{
            color: red;
        }
        span{
            font-weight: bold;
            color: @blue;
            text-decoration: none;
            font-size: 10px;
        }
        a{
            &:hover{
                color: @blue;
            }
        }
        i{
            margin-right: 8px;
            cursor: pointer;
            &:hover{
                color: @blue;
            }
        }
        &.inactive{
            opacity: 0.4;
        }
    }
    .plusorder{
        background: @lightblue;
        border-radius: 10px;
        width: 100%;
        padding: 20px 10px 0px 20px;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.2fr;
        font-size: 12px;
        p{
            margin-bottom: 20px;
        }
    }
}

.orderlist{
    width: 100%;
    margin-bottom: 80px;
    .listtop{
        border-bottom: 2px solid @lightblue;
        padding: 20px 10px;
        p{
            font-size: 12px;
            font-weight: normal;
            margin-top: 10px;
            float: left;
        }
        a{
            float: right;
            margin-left: 20px;
            margin-top: 0px;
        }
        select,input[type=date],input[type=text]{
            float: right;
            width: auto;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            max-width: 145px;
        }
        .fields{
            display: inline-block;
            float: right;
            margin-left: 10px;
            label{
                font-size: 12px;
                margin: 20px 10px 0px 0px;
                line-height: 28px;
            }
        }
    }
    .orderlistbasic{
        margin-top: 30px;
        thead{
            tr{
                grid-template-columns: 350px 230px 230px 220px 70px !important;
            }
        }
    }
    .sellerorderlist{
        margin-top: 30px;
        thead{
            tr{
                grid-template-columns: 225px 230px 105px 140px 215px 150px 0.1fr !important;
            }
        }
    }
    .deliveryexclusionfilter{
        thead{
            tr{
                grid-template-columns: 296px 195px 190px 195px 130px 0.1fr !important;
            }
        }
    }
    .sellerorders{
        .orderdetails{
            display: flex;
            flex-wrap: wrap;
            font-size: 12px;
            justify-content: space-between;
        }
    }
    .orderperpage{
        margin: 20px 0px;
        float: right;
        label{
            font-size: 12px;
        }
        select{
            width: auto;
            height: 30px;
            border: 1px solid @green;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    .nav{
        text-align: center;
        margin-top: 50px;
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                margin: 0px 5px;
                font-weight: bold;
                cursor: pointer;
                padding: 5px;
                border-radius: 2px;
                transition: all ease 0.2s;
                &.active{
                    background: @blue;
                    color: @white;
                }
                &:hover{
                    color: @white;
                    background: @blue;
                }
            }
        }
    }
}
.groups{
    margin-top: 0px;
    thead{
        tr{
            grid-template-columns: 485px 545px 50px !important;
        }
    }
    .btn{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 40px;
        float: right;
        margin-left: 20px;
    }
    .grouplist{
        .orderitem{
            .orderdetails{
                display: flex;
                flex-wrap: wrap;
                font-size: 12px;
                justify-content: space-between;
            }
        }
    }
}

.exclusionlist{
    margin-top: 0px;
    .btn{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 40px;
        float: right;
    }
    thead{
        tr{
            grid-template-columns: 185px 185px 270px 185px 170px 0.1fr !important;
        }
    }
}

.prices{
    margin-top: 0px;
    .btn{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 40px;
        float: right;
        i{
            margin-left: 10px !important;
            margin-right: 0px !important;
        }
    }
    thead{
        tr{
            grid-template-columns: 270px 260px 265px 250px 40px !important;
        }
    }
    .pricelist{
        .orderitem{
            .orderdetails{
                display: flex;
                flex-wrap: wrap;
                font-size: 12px;
                justify-content: space-between;
            }
        }
    }
}

// SELLER

.sellerorderstatus{
    background: @white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0000000D;
    padding: 20px;
    margin: 20px 0px;
    div:last-child{
        border-bottom: none;
        margin-bottom: 0px;
    }
    div{
        margin-bottom: 20px;
        border-bottom: 1px solid @lightblue;
        padding-bottom: 20px;
        h3{
            color: @blue;
            font-size: 18px;
            margin-bottom: 10px;
            i{
                width: 20px;
                margin-right: 10px;
            }
        }
        p{
            font-size: 14px;
            padding-left: 35px;
            margin-bottom: 10px;
            span{
                font-weight: bold;
                font-size: 12px;
                color: @blue;
            }
        }
        &.inactive{
            h3,p,span{
                color: @lightblue;
            }
        }
    }
}

.sellerorderinfo{
    margin-top: 20px;
    width: 60%;
    float: left;
    background: @white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0000000D;
    padding: 20px 30px;
    margin-bottom: 50px;
    h1{
        margin-bottom: 10px;
    }
    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    hr{
        display: block;
        width: 100%;
        margin: 20px 0px;
        border: none;
        background: @darkgreen;
        opacity: 0.2;
        height: 2px;
    }
}