* {
  margin: 0px;
  padding: 0px;
}
*:focus {
  outline: 0;
}
body {
  color: #0e4144;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}
.content {
  width: 1080px;
  margin: 0px auto;
}
.clear {
  clear: both;
}
.spacer {
  height: 100px;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclRdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkA.ttf) format('truetype');
}
a {
  text-decoration: none;
  color: #0e4144;
  transition: all ease 0.2s;
}
.btn {
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  display: table;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  background: #20ced8;
  border: 2px solid #20ced8;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all ease 0.2s;
}
.btn i {
  margin-right: 8px !important;
  margin-left: 0px !important;
  color: #fff !important;
}
.btn.red {
  background: red;
  border-color: red;
}
.btn.green {
  border-color: green;
  background: green;
}
.btn.grey {
  background: #ddf0f7;
  border-color: #ddf0f7;
}
.btn:hover {
  background: #0e4144;
  color: #fff;
  border-color: #0e4144;
}
.btn.right {
  float: right;
}
.btn.center {
  margin: 0px auto;
}
.btn.inline {
  display: inline-table;
  margin-right: 10px;
}
.sectitle {
  font-size: 24px;
  text-align: center;
  color: #176c71;
}
.dev {
  background: #F9F9F9;
  padding: 10px;
}
.dev p {
  font-size: 10px;
  text-align: center;
  color: #282828;
}
.dev p a {
  text-decoration: none;
  color: #282828;
  font-weight: bold;
}
.dev p a span {
  color: #00FF85;
}
.preheader {
  background: #ddf0f7;
  padding: 5px;
  text-align: right;
}
.preheader p {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #0e4144;
  font-weight: bold;
}
.preheader p i {
  color: #20ced8;
  margin-right: 5px;
}
header {
  background: #fff;
  padding: 20px 0px;
}
header .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
header p.logo {
  font-size: 28px;
  font-weight: bold;
}
header p.logo svg {
  width: 140px;
}
header .menu {
  list-style-type: none;
  margin-top: 8px;
}
header .menu li {
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}
header .menu li a {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
header .menu li a:hover {
  color: #20ced8;
}
header .menu li.active a {
  color: #20ced8;
}
header .menu li .submenuprod {
  position: absolute;
  min-width: 130px;
  left: 0px;
  top: 42px;
  background: #fff;
  box-shadow: 0px 3px 6px #0000000D;
  z-index: 100;
  display: none;
}
header .menu li .submenuprod a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #ddf0f7;
  font-size: 14px;
}
header .menu li .submenuprod a:hover {
  background: #ddf0f7;
  color: #20ced8;
}
header .openmenu {
  display: none;
}
header .icons {
  margin-top: 8px;
}
header .icons .btn {
  margin-top: -5px;
  margin-left: 10px;
  float: right;
}
header .icons p {
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 10px;
  cursor: pointer;
}
header .icons p i {
  margin: 0px 0px 0px 5px;
}
header .icons i {
  font-size: 14px;
  color: #176c71;
  margin: 0px 10px;
  transition: all ease 0.2s;
  cursor: pointer;
}
header .icons i:hover {
  color: #20ced8;
}
header .submenu {
  position: absolute;
  right: 0px;
  top: 50px;
  background: #fff;
  box-shadow: 0px 3px 6px #0000000D;
  z-index: 100;
  display: none;
}
header .submenu a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #ddf0f7;
  font-size: 14px;
}
header .submenu a:hover {
  background: #ddf0f7;
  color: #20ced8;
}
footer {
  background: #176c71;
  padding: 50px 0px;
}
footer .col {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
footer .col #armored_website {
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: block !important;
  margin: 0px auto;
}
footer .col svg {
  width: 70%;
}
footer .col svg path {
  fill: #fff;
}
footer .col ul {
  list-style-type: none;
}
footer .col ul li {
  margin-bottom: 10px;
}
footer .col ul li a {
  color: #fff;
  font-size: 14px;
}
footer .col p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .col .redes {
  list-style-type: none;
  float: right;
}
footer .col .redes li {
  display: inline-block;
  margin: 0px 10px;
}
footer .col .redes li i {
  font-size: 18px;
}
footer .col .redes li i:hover {
  color: #20ced8;
}
.searchbar.open {
  display: block;
}
.searchbar {
  background: #20ced8;
  padding-bottom: 10px;
  display: none;
  transition: all ease 0.2s;
}
.searchbar form {
  text-align: center;
}
.searchbar form input[type=text] {
  width: 90%;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}
.searchbar form input[type=text]::placeholder {
  color: #fff;
  opacity: 0.5;
}
.searchbar form button {
  margin: 7px 30px 0px 0px;
  float: right;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}
.searchbar form button i {
  color: #fff;
}
.searchbar form button:hover i {
  color: #0e4144;
}
.slider {
  background: url('../images/slide-drmarket.png') no-repeat center center;
  padding: 80px 0px;
}
.slider h1 {
  width: 50%;
  color: #fff;
  font-size: 42px;
  line-height: 52px;
}
.abouthome {
  margin-bottom: 80px;
}
.abouthome .topblue {
  background: #20ced8;
  padding: 70px 0 30px 0;
}
.abouthome .topblue h2 {
  width: 50%;
  float: right;
  color: #fff;
  font-size: 32px;
  line-height: 42px;
}
.abouthome img {
  margin-top: -180px;
  float: left;
  margin-right: 50px;
}
.abouthome .text {
  margin-top: 50px;
}
.abouthome .text p {
  color: #20ced8;
  font-size: 16px;
  line-height: 26px;
}
.bestproducts .homeproductlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bestproducts .homeproductlist .item {
  margin-top: 150px;
  background: #DDF0F7;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.bestproducts .homeproductlist .item img {
  margin-top: -150px;
}
.bestproducts .homeproductlist .item .cat {
  font-weight: bold;
  text-transform: uppercase;
  color: #20ced8;
  font-size: 14px;
  margin-bottom: 10px;
}
.bestproducts .homeproductlist .item .name {
  font-size: 16px;
  font-weight: bold;
  color: #176c71;
  margin-bottom: 20px;
}
.covidbanner {
  background: #DDF0F7;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 30px 0px;
}
.covidbanner img {
  float: left;
  margin: -150px 0px -50px 0px;
}
.covidbanner p {
  margin-bottom: 10px;
}
.covidbanner p span {
  font-weight: bold;
  color: #20ced8;
  font-size: 14px;
  text-transform: uppercase;
}
.covidbanner p.title {
  color: #176c71;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}
.testmonials {
  margin: 180px 0px 80px 0px;
}
.testmonials .text {
  width: 40%;
  float: left;
}
.testmonials .text h3 {
  font-size: 42px;
  color: #176c71;
  margin-bottom: 20px;
}
.testmonials .text p {
  font-size: 14px;
  line-height: 24px;
  color: #176c71;
}
.testmonials .tesmonial {
  box-shadow: 0px 3px 6px #0000000D;
  float: right;
  width: 50%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}
.testmonials .tesmonial h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.testmonials .tesmonial p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.testmonials .tesmonial p img {
  float: left;
  margin-right: 20px;
}
.innerpage {
  background: #F5FBFD;
}
.breadcrumb {
  margin-bottom: 20px;
  font-size: 12px;
  margin-top: 20px;
  font-weight: bold;
}
.breadcrumb i {
  color: #20ced8;
}
.breadcrumb span {
  margin: 0px 10px;
}
.breadcrumb a {
  font-weight: normal;
}
.breadcrumb a:hover {
  color: #20ced8;
}
.legend p {
  font-size: 12px;
  color: #0e4144;
  margin-bottom: 15px;
}
.legend p i {
  font-size: 10px;
  margin-right: 5px;
}
.legend p span {
  color: #20ced8;
  font-size: 10px;
}
.filters {
  width: 20%;
  float: left;
}
.sidebar {
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.sidebar input,
.sidebar select {
  width: 100%;
  border: 1px solid #176c71;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.sidebar hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.sidebar .formquant input {
  width: 75%;
  float: left;
}
.sidebar .formquant label {
  margin: 10px 5px 0px 0px;
  font-size: 14px;
  float: right;
}
.sidebar .minisectitle {
  font-size: 14px;
  font-weight: bold;
  color: #176c71;
  margin-bottom: 10px;
}
.sidebar .select {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid #176c71;
  font-size: 14px;
  margin-right: 5px;
  padding: 7px 12px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.sidebar .select.active,
.sidebar .select:hover {
  background: #ddf0f7;
}
.sidebar .alpha button {
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 20px;
  background: none;
  color: #176c71;
  font-weight: bold;
  font-size: 16px;
  margin: 5px 2px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  transition: all ease 0.2s;
  width: 35px;
}
.sidebar .alpha button:hover {
  color: #20ced8;
  border-color: #176c71;
}
.sidebar .alpha button.inactive {
  opacity: 0.4;
}
.sidebar .alpha button.inactive:hover {
  cursor: auto;
  color: #176c71;
  border: none;
}
.categorylist {
  width: 70%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.categorylist .off {
  opacity: 0.3;
}
.categorylist .quant {
  width: 15%;
}
.categorylist .quant p {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 14px;
}
.categorylist .quant p span {
  font-size: 12px;
}
.categorylist .list {
  width: 85%;
}
.categorylist .list hr {
  display: block;
  width: 95%;
  margin: 15px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
  float: right;
}
.categorylist .list p.tit {
  float: left;
  color: #20ced8;
  font-weight: bold;
  font-size: 24px !important;
}
.categorylist .list p {
  margin-bottom: 25px;
  font-size: 14px;
}
.categorylist .list p span {
  font-size: 12px;
}
.categorylist .list p a:hover {
  color: #20ced8;
}
.fullprodlist {
  width: 100% !important;
  float: none !important;
}
.productlist {
  width: 70%;
  float: right;
}
.productlist .listtop {
  border-bottom: 2px solid #ddf0f7;
  padding: 20px 10px;
}
.productlist .listtop p {
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  float: left;
}
.productlist .listtop .formquant {
  margin-top: 10px;
  float: left;
}
.productlist .listtop .formquant input[type=number] {
  width: auto;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.productlist .listtop select {
  float: right;
  width: auto;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.productlist .proposallistbasic {
  margin-top: 30px;
}
.productlist .orderperpage {
  margin: 20px 0px;
  float: right;
}
.productlist .orderperpage label {
  font-size: 12px;
}
.productlist .orderperpage select {
  width: auto;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}
.productlist .nav {
  text-align: center;
  margin-top: 30px;
}
.productlist .nav ul {
  list-style-type: none;
}
.productlist .nav ul li {
  display: inline-block;
  margin: 0px 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  transition: all ease 0.2s;
}
.productlist .nav ul li.active {
  background: #20ced8;
  color: #fff;
}
.productlist .nav ul li:hover {
  color: #fff;
  background: #20ced8;
}
.prodlist .pricevariation {
  display: flex !important;
  flex-wrap: wrap !important;
  font-size: 12px !important;
  justify-content: space-between !important;
  padding: 20px !important;
}
.pricevariationlist {
  margin-top: 20px;
}
.pricevariationlist thead tr {
  grid-template-columns: 145px 345px 113px 102px 124px 75px !important;
  grid-gap: 0px 30px;
}
.pricevariationtable {
  grid-template-columns: 145px 350px 113px 102px 124px 75px !important;
}
.proposallistbasic thead tr {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr !important;
  grid-gap: 0px 30px;
}
.variationpricelist {
  margin-top: 30px;
}
.variationpricelist thead tr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr !important;
  grid-gap: 0px 30px;
}
.varpricelist .orderitem .orderdetails {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr !important;
}
.basictable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px 15px;
}
.basictable thead {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}
.basictable thead tr {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  padding-left: 10px;
}
.basictable tbody:before {
  line-height: 2em;
  content: "\200C";
  display: block;
}
.basictable tbody {
  font-size: 11px;
  text-align: left;
}
.basictable tbody tr {
  background: #fff;
}
.basictable tbody tr td:first-child {
  padding: 20px 0px 20px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.basictable tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.basictable tbody tr td {
  padding: 20px 10px 20px 0px;
}
.basictable tbody tr td span {
  font-weight: bold;
  color: #20ced8;
  font-size: 12px;
}
.basictable tbody tr.inactive {
  opacity: 0.4;
}
span.mobtitle {
  display: none !important;
}
.prodlist {
  margin-top: 30px;
}
.prodlist .proditem {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 20px 10px 20px 10px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1.3fr 1.5fr;
  font-size: 12px;
  grid-gap: 0px 30px;
}
.prodlist .proditem p.indisponivel {
  color: red;
}
.prodlist .proditem span {
  text-decoration: none;
  font-size: 10px;
}
.prodlist .proditem a:hover {
  color: #20ced8;
}
.prodlist .proditem i {
  color: #20ced8;
  margin-right: 5px;
}
.prodlist .proditem.inactive {
  opacity: 0.4;
}
.singleprpduct {
  margin-top: 20px;
}
.innerprodlist {
  margin-top: 30px;
}
.innerprodlist .proditem {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 20px 10px 20px 10px;
}
.innerprodlist .proditem.inactive {
  opacity: 0.4;
}
.innerprodlist .proditem .toprow {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  font-size: 12px;
}
.innerprodlist .proditem .toprow p span {
  color: #20ced8;
  font-size: 10px;
  display: block;
}
.innerprodlist .proditem .toprow p i {
  cursor: pointer;
}
.innerprodlist .proditem .toprow p i:hover {
  color: #20ced8;
}
.innerprodlist .proditem .toprow p i.active {
  transform: rotate(180deg);
  margin-top: 4px;
  transition: all ease 0.2s;
}
.innerprodlist .proditem .middlerow {
  display: none;
}
.innerprodlist .proditem .middlerow hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.innerprodlist .proditem .middlerow .text {
  float: left;
}
.innerprodlist .proditem .middlerow .text p {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0px 10px;
}
.innerprodlist .proditem .middlerow .text ul {
  list-style-type: none;
  padding: 0px 10px;
}
.innerprodlist .proditem .middlerow .text ul li {
  font-size: 12px;
  display: inline-block;
  margin-right: 15px;
}
.innerprodlist .proditem .middlerow .text ul li i {
  margin-right: 5px;
}
.innerprodlist .proditem .middlerow a {
  margin-top: 0px;
  float: right;
}
.innerprodlist .proditem .middlerow .formquant {
  float: right;
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}
.innerprodlist .proditem .middlerow .formquant span {
  display: block;
  font-size: 12px;
  margin: 5px 0px;
}
.innerprodlist .proditem .middlerow .formquant input,
.innerprodlist .proditem .middlerow .formquant select {
  border: 1px solid #0e4144;
  padding: 0px 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.innerprodlist .proditem .bottomrow {
  display: none;
  text-align: right;
}
.innerprodlist .proditem .bottomrow p {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
.innerprodlist .proditem .bottomrow .btn {
  margin-left: 20px;
  margin-top: 0px;
  display: inline-block;
}
.innerprodlist .proditem .bottomrow hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.cartbar {
  width: 32%;
  float: right;
}
.cartbar .address,
.cartbar .total,
.cartbar .search {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px;
  margin: 20px 0px;
}
.cartbar .address a.btn,
.cartbar .total a.btn,
.cartbar .search a.btn {
  width: 86%;
}
.cartbar .address h2,
.cartbar .total h2,
.cartbar .search h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.cartbar .address h2 i,
.cartbar .total h2 i,
.cartbar .search h2 i {
  margin-right: 10px;
}
.cartbar .address p,
.cartbar .total p,
.cartbar .search p {
  font-size: 14px;
}
.cartbar .address form,
.cartbar .total form,
.cartbar .search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cartbar .address form button,
.cartbar .total form button,
.cartbar .search form button {
  margin-top: 0px;
}
.cartbar .address form input,
.cartbar .total form input,
.cartbar .search form input,
.cartbar .address form button,
.cartbar .total form button,
.cartbar .search form button {
  width: 47%;
}
.cartbar .address form input.full,
.cartbar .total form input.full,
.cartbar .search form input.full {
  width: 100%;
}
.cartbar .address form input,
.cartbar .total form input,
.cartbar .search form input {
  height: 30px;
  padding: 5px;
  border: 1px solid #176c71;
  border-radius: 5px;
}
.cartbar .sellertotal {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px;
  margin: 20px 0px;
}
.cartbar .sellertotal h2 {
  font-size: 14px;
  margin-bottom: 20px;
}
.cartbar .sellertotal h2 i {
  margin-right: 10px;
}
.cartbar .sellertotal .value {
  margin: 10px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid #ddf0f7;
}
.cartbar .sellertotal .value h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.cartbar .sellertotal .value p {
  width: 100%;
  margin-bottom: 10px;
}
.cartbar .sellertotal .value p span {
  float: right;
  font-weight: bold;
}
.cartbar .sellertotal .value p span.red {
  color: red;
}
.cartlist {
  width: 65%;
  float: left;
}
.cartlist .sectitle {
  width: 60%;
  margin: 50px auto;
}
.cartlist .empty i {
  font-size: 64px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.cartlist .sellerresume {
  margin-bottom: 50px;
}
.cartlist .sellerresume h2.active span i {
  transform: rotate(180deg);
}
.cartlist .sellerresume h2 {
  font-size: 24px;
  margin-bottom: 15px;
  cursor: pointer;
}
.cartlist .sellerresume h2 span {
  background: #F5FBFD;
  padding: 5px 15px 5px 0px;
}
.cartlist .sellerresume h2 span i {
  margin-right: 10px;
}
.cartlist .sellerresume h2:after {
  content: '';
  display: block;
  height: 3px;
  background: #ddf0f7;
  width: 100%;
  margin-top: -15px;
}
.cartlist .sellerresume p {
  font-size: 14px;
}
.cartlist .sellerresume .deleteall {
  float: right;
  font-size: 12px;
  color: red;
  background: #F5FBFD;
  padding: 9px 20px;
}
.cartlist .sellerresume .deleteall:hover {
  color: #0e4144;
}
.cartlist .productbox {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px 20px 10px 20px;
  margin: 20px 0px;
}
.cartlist .productbox .toprow {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 1.2fr 1.3fr 0.9fr;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px solid #ddf0f7;
}
.cartlist .productbox .toprow p.center {
  text-align: center;
}
.cartlist .productbox .middlerow {
  display: grid;
  grid-template-columns: 1.3fr 1.4fr 1fr;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}
.cartlist .productbox .middlerow p {
  margin-bottom: 10px;
}
.cartlist .productbox .middlerow p a {
  font-weight: bold;
}
.cartlist .productbox .middlerow p a:hover {
  color: #20ced8;
}
.cartlist .productbox .middlerow p .center {
  text-align: center;
}
.cartlist .productbox .middlerow .code {
  font-size: 10px;
}
.cartlist .productbox .middlerow .formquant {
  margin-bottom: 10px;
}
.cartlist .productbox .middlerow .formquant span {
  display: block;
  font-size: 12px;
  margin: 5px 0px;
}
.cartlist .productbox .middlerow .formquant input,
.cartlist .productbox .middlerow .formquant select {
  border: 1px solid #0e4144;
  padding: 0px 5px;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cartlist .productbox .middlerow .trash {
  color: red;
  font-size: 12px;
}
.cartlist .productbox .middlerow .trash i {
  margin-right: 5px;
}
.cartlist .productbox .middlerow .trash:hover {
  color: #176c71;
}
.cartlist .productbox .middlerow p.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cartlist .productbox .middlerow p.price strong {
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}
.cartlist .productbox .bottomrow {
  padding: 20px 0px 0px 10px;
}
.payment {
  width: 65%;
  float: left;
  margin-bottom: 80px;
}
.payment .method {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.payment .method p {
  width: 40%;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 30px;
  text-align: center;
}
.payment .method p i {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}
.payment .method p:hover {
  color: #20ced8;
}
.payment .cardform,
.payment .paperform {
  display: none;
  margin-top: 50px;
}
.payment .cardform h4,
.payment .paperform h4 {
  margin-bottom: 10px;
}
.payment .cardform p,
.payment .paperform p {
  font-size: 14px;
}
.payment .cardform img,
.payment .paperform img {
  margin-top: 10px;
}
.payment .cardform form,
.payment .paperform form {
  background: #ddf0f7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.payment .cardform form input,
.payment .paperform form input {
  width: 48%;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.loginform {
  background: #ddf0f7;
  border-radius: 10px;
  padding: 30px;
  width: 40%;
}
.loginform form {
  margin-bottom: 20px;
}
.loginform form input[type=checkbox] {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.loginform form label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.loginform form input[type=email],
.loginform form input[type=text],
.loginform form textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.loginform form textarea {
  height: 150px;
}
.loginform form a {
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}
.loginform form a:hover {
  color: #20ced8;
}
.loginform form .smallfields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loginform form .smallfields div {
  width: 48%;
}
.loginform form .infobox p {
  margin-bottom: 20px;
}
.loginform hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.loginform p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.loginform p a {
  font-weight: bold;
}
.loginform p a:hover {
  color: #20ced8;
}
.innerheader {
  background: #20ced8;
  padding: 40px 0px;
  margin-bottom: 30px;
}
.innerheader h1 {
  color: #fff;
  font-size: 36px;
  max-width: 45%;
}
.topcontent {
  margin-bottom: 80px;
}
.topcontent img {
  width: 50%;
  float: right;
  margin-top: -100px;
}
.topcontent .text {
  width: 45%;
  float: left;
}
.topcontent .text h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.topcontent .text p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.topcontent .text p a {
  text-decoration: underline;
  font-weight: bold;
}
.topcontent .text p a:hover {
  color: #20ced8;
}
.maincontent {
  margin-bottom: 50px;
}
.maincontent h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.maincontent p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.maincontent p a {
  text-decoration: underline;
  font-weight: bold;
}
.maincontent p a:hover {
  color: #20ced8;
}
.bulletlist {
  list-style-type: none;
  margin: 40px 0px;
}
.bulletlist li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddf0f7;
}
.bulletlist li p {
  font-size: 14px;
  padding-left: 70px;
}
.bulletlist li:before {
  float: left;
  font-family: 'FontAwesome';
  content: "\f35a";
  color: #176c71;
  font-size: 32px;
}
.vantagens {
  margin-bottom: 80px;
}
.vantagens .vantagenslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;
}
.vantagens .vantagenslist i {
  color: #20ced8;
  margin-top: 70px;
}
.vantagens .vantagenslist .vantagem {
  width: 15%;
  background: #DDF0F7;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 20px 10px;
}
.vantagens .vantagenslist .vantagem img {
  margin: -50px auto 30px auto;
  display: block;
}
.vantagens .vantagenslist .vantagem p {
  font-weight: bold;
  font-size: 14px;
}
.faq {
  background: #ddf0f7;
  padding: 50px 0px;
}
.faq .questionbox h3 {
  background: #fff;
  padding: 20px;
}
.faq .questionbox h3:before {
  content: '›';
  font-size: 32px;
  color: #176c71;
  float: right;
  margin-left: 0px;
  transform: rotate(90deg);
  margin-top: -10px;
  transition: all ease 0.2s;
}
.faq .questionbox h3.active:after {
  transform: rotate(-90deg);
}
.faq .questionbox .faqanswer {
  background-color: #176c71;
  color: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
  margin-top: 0px !important;
}
.faq .questionbox .faqanswer p {
  margin-bottom: 10px;
}
.faq .questionbox .faqanswer.show {
  opacity: 1;
  padding: 30px 18px;
  height: auto;
}
.doubtform {
  padding: 20px 0px 80px 0px;
}
.doubtform .questionform {
  background: #ddf0f7;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  margin: 40px auto;
}
.doubtform .questionform form {
  margin-bottom: 20px;
}
.doubtform .questionform form input[type=checkbox],
.doubtform .questionform form input[type=radio] {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.doubtform .questionform form label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.doubtform .questionform form input[type=email],
.doubtform .questionform form input[type=text],
.doubtform .questionform form textarea,
.doubtform .questionform form select {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.doubtform .questionform form textarea {
  height: 100px;
}
.doubtform .questionform form a {
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}
.doubtform .questionform form a:hover {
  color: #20ced8;
}
.doubtform .questionform form .smallfields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.doubtform .questionform form .smallfields input {
  width: 48%;
}
.doubtform .questionform form .infobox p {
  margin-bottom: 20px;
}
.doubtform .questionform hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.doubtform .questionform p {
  text-align: center;
  font-size: 14px;
}
.doubtform .questionform p a {
  font-weight: bold;
}
.doubtform .questionform p a:hover {
  color: #20ced8;
}
.fulltab .tab {
  width: 100% !important;
  margin-bottom: 30px;
}
.threetabs {
  margin-bottom: 30px !important;
}
.threetabs .tab {
  width: 32% !important;
}
.accounttabs {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accounttabs .tab.inactive {
  opacity: 0.3;
}
.accounttabs .tab {
  width: 48%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
}
.accounttabs .tab .tabheader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 30px;
  background: #ddf0f7;
  margin-bottom: 20px;
  position: relative;
}
.accounttabs .tab .tabheader h3 {
  font-size: 14px;
  font-weight: normal;
}
.accounttabs .tab .tabheader h3 i {
  margin-right: 10px;
}
.accounttabs .tab .tabheader .plus {
  border-top-right-radius: 10px;
  background: #fff;
  float: right;
  padding: 24px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.accounttabs .tab .tabheader .plus:hover {
  color: #20ced8;
}
.accounttabs .tab form {
  padding: 20px 30px;
}
.accounttabs .tab form label {
  display: block;
}
.accounttabs .tab form input,
.accounttabs .tab form select {
  padding: 5px;
  margin: 10px 0px 20px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddf0f7;
}
.accounttabs .tab form input[type=checkbox] {
  width: auto;
  margin: 0px 10px 0px 0px;
}
.accounttabs .tab form .estateselectlabel {
  border: 1px solid #ddf0f7;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 15px 10px;
  width: 29%;
}
.accounttabs .tab form .smallfields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accounttabs .tab form .smallfields div {
  width: 45%;
}
.accounttabs .tab .editestatedelivery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accounttabs .tab .address {
  padding: 20px 30px;
  border-bottom: 1px solid #ddf0f7;
}
.accounttabs .tab .address p {
  font-size: 14px;
  margin-bottom: 10px;
}
.accounttabs .tab .address p i {
  margin-right: 10px;
}
.accounttabs .tab .address a {
  font-size: 12px;
  color: #20ced8;
  margin-right: 20px;
}
.accounttabs .tab .address a:hover {
  color: #0e4144;
}
.accounttabs .tab .address label {
  font-size: 12px;
  margin: 0px 20px 0px 5px;
}
.accounttabs .tab .address hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.accounttabs .tab .address .delete {
  color: red;
}
.accounttabs .tab .buttonslinks {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accounttabs .tab .buttonslinks .btn {
  width: 27%;
  margin: 10px;
}
.shadowpop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 1;
  transition: all ease 0.6s;
  display: none;
}
.popup {
  display: none;
  position: fixed;
  z-index: 150;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #ddf0f7;
  border-radius: 10px;
  padding: 30px;
  width: 30%;
}
.popup .openpopup {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup .openpopup:hover {
  color: #20ced8;
}
.popup form {
  margin-bottom: 20px;
}
.popup form input[type=checkbox],
.popup form input[type=radio] {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.popup form label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.popup form input[type=email],
.popup form input[type=text],
.popup form select {
  width: 100%;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.popup form a {
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}
.popup form a:hover {
  color: #20ced8;
}
.popup form .smallfields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup form .smallfields div {
  width: 48%;
}
.popup form .infobox p {
  margin-bottom: 20px;
}
.popup hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.popup p {
  text-align: center;
  font-size: 14px;
}
.popup p a {
  font-weight: bold;
}
.popup p a:hover {
  color: #20ced8;
}
.alert {
  background-color: lightyellow;
  padding: 20px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}
.orderinfo {
  margin-top: 20px;
  width: 60%;
  float: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.orderinfo h1 {
  margin-bottom: 10px;
}
.orderinfo h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.orderinfo p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.orderinfo hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
.orderrowlist {
  margin-top: 30px;
}
.orderrowlist .orderitem {
  margin-bottom: 10px;
}
.orderrowlist .orderdetails {
  margin-bottom: 0px;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 20px 10px 20px 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.2fr;
  font-size: 12px;
}
.orderrowlist .orderdetails p.indisponivel {
  color: red;
}
.orderrowlist .orderdetails span {
  font-weight: bold;
  color: #20ced8;
  text-decoration: none;
  font-size: 10px;
}
.orderrowlist .orderdetails a:hover {
  color: #20ced8;
}
.orderrowlist .orderdetails i {
  margin-right: 8px;
  cursor: pointer;
}
.orderrowlist .orderdetails i:hover {
  color: #20ced8;
}
.orderrowlist .orderdetails.inactive {
  opacity: 0.4;
}
.orderrowlist .plusorder {
  background: #ddf0f7;
  border-radius: 10px;
  width: 100%;
  padding: 20px 10px 0px 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.2fr;
  font-size: 12px;
}
.orderrowlist .plusorder p {
  margin-bottom: 20px;
}
.orderlist {
  width: 100%;
  margin-bottom: 80px;
}
.orderlist .listtop {
  border-bottom: 2px solid #ddf0f7;
  padding: 20px 10px;
}
.orderlist .listtop p {
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  float: left;
}
.orderlist .listtop a {
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}
.orderlist .listtop select,
.orderlist .listtop input[type=date],
.orderlist .listtop input[type=text] {
  float: right;
  width: auto;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 145px;
}
.orderlist .listtop .fields {
  display: inline-block;
  float: right;
  margin-left: 10px;
}
.orderlist .listtop .fields label {
  font-size: 12px;
  margin: 20px 10px 0px 0px;
  line-height: 28px;
}
.orderlist .orderlistbasic {
  margin-top: 30px;
}
.orderlist .orderlistbasic thead tr {
  grid-template-columns: 350px 230px 230px 220px 70px !important;
}
.orderlist .sellerorderlist {
  margin-top: 30px;
}
.orderlist .sellerorderlist thead tr {
  grid-template-columns: 225px 230px 105px 140px 215px 150px 0.1fr !important;
}
.orderlist .deliveryexclusionfilter thead tr {
  grid-template-columns: 296px 195px 190px 195px 130px 0.1fr !important;
}
.orderlist .sellerorders .orderdetails {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
}
.orderlist .orderperpage {
  margin: 20px 0px;
  float: right;
}
.orderlist .orderperpage label {
  font-size: 12px;
}
.orderlist .orderperpage select {
  width: auto;
  height: 30px;
  border: 1px solid #176c71;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}
.orderlist .nav {
  text-align: center;
  margin-top: 50px;
}
.orderlist .nav ul {
  list-style-type: none;
}
.orderlist .nav ul li {
  display: inline-block;
  margin: 0px 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  transition: all ease 0.2s;
}
.orderlist .nav ul li.active {
  background: #20ced8;
  color: #fff;
}
.orderlist .nav ul li:hover {
  color: #fff;
  background: #20ced8;
}
.groups {
  margin-top: 0px;
}
.groups thead tr {
  grid-template-columns: 485px 545px 50px !important;
}
.groups .btn {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 40px;
  float: right;
  margin-left: 20px;
}
.groups .grouplist .orderitem .orderdetails {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
}
.exclusionlist {
  margin-top: 0px;
}
.exclusionlist .btn {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 40px;
  float: right;
}
.exclusionlist thead tr {
  grid-template-columns: 185px 185px 270px 185px 170px 0.1fr !important;
}
.prices {
  margin-top: 0px;
}
.prices .btn {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 40px;
  float: right;
}
.prices .btn i {
  margin-left: 10px !important;
  margin-right: 0px !important;
}
.prices thead tr {
  grid-template-columns: 270px 260px 265px 250px 40px !important;
}
.prices .pricelist .orderitem .orderdetails {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
}
.sellerorderstatus {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px;
  margin: 20px 0px;
}
.sellerorderstatus div:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
.sellerorderstatus div {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddf0f7;
  padding-bottom: 20px;
}
.sellerorderstatus div h3 {
  color: #20ced8;
  font-size: 18px;
  margin-bottom: 10px;
}
.sellerorderstatus div h3 i {
  width: 20px;
  margin-right: 10px;
}
.sellerorderstatus div p {
  font-size: 14px;
  padding-left: 35px;
  margin-bottom: 10px;
}
.sellerorderstatus div p span {
  font-weight: bold;
  font-size: 12px;
  color: #20ced8;
}
.sellerorderstatus div.inactive h3,
.sellerorderstatus div.inactive p,
.sellerorderstatus div.inactive span {
  color: #ddf0f7;
}
.sellerorderinfo {
  margin-top: 20px;
  width: 60%;
  float: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000000D;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.sellerorderinfo h1 {
  margin-bottom: 10px;
}
.sellerorderinfo h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.sellerorderinfo p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.sellerorderinfo hr {
  display: block;
  width: 100%;
  margin: 20px 0px;
  border: none;
  background: #0e4144;
  opacity: 0.2;
  height: 2px;
}
